:where(.css-dev-only-do-not-override-1c0na6j).ant-layout-header {
  min-height: 80px !important;
}
/* .headerM {
  min-height: 64px !important;
} */
:where(
    .css-dev-only-do-not-override-1c0na6j
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-1c0na6j
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1c0na6j).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border: 0px;
}
